<!------------HEADER------------->
<div class="max-w-5xl mx-auto px-4 flex justify-center"> 
  <header class="header-lex">
    <div class="logo-nacho"> 
      <img src="https://lh3.googleusercontent.com/u/0/d/1Dpc4GPYi-pYeTIZH4j6i-2dr0c4CNzZs" alt="Logo Casa Nacho" class="img-logo">
    </div>

    <div class="header-content-left">
        <h1 class="text-lg md:text-xl font-black italic tracking-tighter text-white m-0 text-center">
            CASA NACHO <span class="text-gold">Telas & Accesorios</span>
        </h1>
        <div class="flex items-center justify-center gap-2 mt-0.5">
            <span class="h-[1px] w-8 bg-yellow-500/30"></span>
            <p class="text-slate-400 text-[9px] font-bold tracking-[0.2em] uppercase m-0">
                Gestor de Stock
            </p>
            <span class="h-[1px] w-8 bg-yellow-500/30"></span>
        </div>
    </div>
  </header>
</div>