

<!-- _navbar.html -->
<nav class="navbar fixed-top custom-navbar">
  <div class="container d-flex justify-content-center"> 
    <div class="nav-links-wrapper">
        <a class="nav-link-custom" href="#" onclick="navegar('home'); return false;">
          <i class="bi bi-house-door-fill me-3"></i>
          <span class="link-text">INICIO</span>
        </a>

        <a class="nav-link-custom" href="#" onclick="navegar('stock'); return false;">
          <i class="bi bi-box-seam me-3"></i>
          <span class="link-text">ADMINISTRACIÓN</span>
        </a>

       <!----<a class="nav-link-custom" href="#" onclick="navegar('proveedores'); return false;">
          <i class="bi bi-truck me-3"></i>
          <span class="link-text">DEPÓSITO</span>
        </a>--->
        
        <a class="nav-link-custom" href="#" onclick="navegar('dashboard'); return false;">
          <i class="fi fi-bs-chart-mixed me-3"></i>
          <span class="link-text">DEPÓSITO</span>
        </a>

        <a class="nav-link-custom" href="#" onclick="navegar('dataBase'); return false;">
          <i class="bi bi-database-fill-gear me-3"></i>
          <span class="link-text">TABLAS DATOS</span>
        </a>

      <div class="dropdown-redes">
        <a class="nav-link-custom" href="#">
          <i class="bi bi-share-fill me-3"></i> <span class="link-text">REDES SOCIALES</span>
        </a>
        
        <div class="social-box-dropdown">
          <a href="#" class="social-mini"><i class="bi bi-instagram"></i></a>
          <a href="#" class="social-mini"><i class="bi bi-facebook"></i></a>
          <a href="#" class="social-mini"><i class="bi bi-whatsapp"></i></a>
        </div>
      </div>

      <a class="nav-link-custom" href="#" onclick="navegar('-kitEmergencias'); return false;">
        <div class="sirena-emergencia" style="border-color: #ff0000; box-shadow: 0 0 15px rgba(255,0,0,0.4);">
          <span style="font-size: 20px;">🚨</span>
        </div>
      </a>
    </div>
  </div>
  <div class="nav-separator"></div>
</nav>