<!DOCTYPE html>
<html lang="es">
<head>
    {% include head.html %}
    {% include CSS.html %}
</head>
<body class="bg-slate-950 font-sans antialiased text-slate-200">

    <div class="fixed-top w-full shadow-2xl" style="z-index: 2000; background: #020617; display: flex; flex-direction: column;">
        {% include header.html %}
        {% include navBar.html %}
    </div>

    <main id="content" class="container mx-auto px-4 md:px-10" style="padding-top: 220px;">
        {{ content }}
    </main>

    
    <script src="{{ site.baseurl }}/assets/js/jsHome.js"></script>
</body>
    {% include footer.html %}
</html>
